# Force language identification
bin/mdcompile linguist-language=PHP

# Exclude from export
.github        export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
*.xml          export-ignore
*.json         export-ignore
*.lock         export-ignore

# Exclude from diffs
.github        linguist-generated
.gitattributes linguist-generated
.gitignore     linguist-generated
.gitkeep       linguist-generated
demo/*         linguist-generated
CHANGELOG.md   linguist-generated
*.xml          linguist-generated
*.json         linguist-generated
*.lock         linguist-generated

# Exclude from language stats
demo/* linguist-vendored
*.md   linguist-vendored
*.xml  linguist-vendored
*.json linguist-vendored
*.lock linguist-vendored